* {
    margin:0;
    padding:0;
}

canvas {
    position: absolute;
    top:0px;
    z-index: 0;
}

#containerCanevas{
	position:absolute;
	border:4px solid yellow;
	top:15%;
	left:25%;
	width:900px;
	height:500px;
}

.clear {
    clear:both;
}

.main {
    position: relative;
    z-index: 1;
}

canvas { display:block; }

.response-message-box {
    position:absolute;
    top:50px;
    left:50%;
    width:300px;
    margin-left:-150px;
    text-align: center;
}

.response-error {
    color:red;
}


