@font-face {
	font-family : "ninja";
	src:url("../font/ninja/ninja.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    font-family: 'Roboto', sans-serif;
    background-color:black;
    color:white;
    text-shadow: 0 0 5px black;
    font-size:20px;
    height: 100%;
}

body {
	font-family:"ninja";
    /* background-image: url('../images/ninja/background.jpg'); */
    background-position: center center;
    background-size: cover;
}

button {
    border: none;
    color: white;
    padding: 5px 30px;
    color:white;
    background-color: #555;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:active {
  background-color: #888;
}

header {
    border-bottom:2px solid white;
    padding:10px;
    background-color: rgba(100, 100, 100, 0.5);
    text-align: center;
    position:relative;
    z-index:3;
}

header a {
    color:white !important;
}

header ul li{
	display:inline;

}

header ul li, header ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

header ul li:hover, header ul li a:hover
{
color: #fff;
background-color: #369;
}

.content-box {
    border:2px solid white;
    border-radius: 5px;
    padding:10px;
	background-color: rgba(100, 100, 100, 0.5);
	position:relative;
	z-index:3;
}

.response-message-box {
    border:2px solid white;
    border-radius: 5px;
    padding:10px;
    background-color: rgba(100, 100, 100, 0.5);
}


/* ================================================== */
/* Splash */
/* --------------------------------------------------*/
.splash {
    padding-top: 200px;
}

.splash .content-box {
    width: 400px;
    margin:0 auto;
}

.splash h1 {
    text-align: center;
    border-bottom: 4px solid #555;
    margin-bottom: 10px;
}

.splash label {
	font-size:15px;
    display: inline-block;
    width:150px;
}

.splash button {
    display: inline-block;
    margin-left: 155px;
    margin-top: 10px;
}

.splash input,
.splash select {
    width:200px;
    font-size: 16px;
}


/* ================================================== */
/* List */
/* --------------------------------------------------*/
.game-box{
	position:relative;
	height:200px;
	width:130px;
	float:left;
	text-align:center;
	border:solid black 2px;
	border-radius:5px;
	margin:10px;
	padding:10px;
	background-image: url('../images/LevelArt.jpg');
	background-size: 150px 250px;
	background-repeat: no-repeat;
	overflow: hidden;
}

.game-box p{
	margin-bottom:10px;
	color:red;
	text-shadow: 2px 2px #200000;
}

.game-box span{
	padding-bottom:10px;
	margin-top:10px;
	font-size:40px;
}
.game-box:hover
{
        box-shadow:
                1px 1px #220606,
                2px 2px #220606,
                3px 3px #220606;
        -webkit-transform: translateX(-3px);
		transform: translateX(-3px);
		transition:0.5s;
}

.game-box:after{
	content: "";
    background: #F85C5C;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.game-box:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.clear{
	clear:both;
}



/* ================================================== */
/* Game */
/* --------------------------------------------------*/



.game-box-title{
	position:absolute;
	width:200px;
	left:42%;
	background-color:black;
	text-align:center;
	border:solid white 2px;
	border-radius:5px;
	margin:10px;
	padding:10px;
	/* background-image: url('../images/LevelArt.jpg');
	background-size: 150px 250px;
	background-repeat: no-repeat; */
	overflow: hidden;
}

.game-box-player{
	position:absolute;
	left:10%;
	top:75%;
	color:#DC0000;
	text-align:center;
	text-shadow: 2px 2px #000000;
	border:solid white 2px;
	border-radius:5px;
	margin:10px;
	padding:10px;
	/* background-image: url('../images/LevelArt.jpg'); */
	background-size: 200px 250px;
	background-repeat: no-repeat;
}

.game-box-skills{
	position:absolute;
	left:30%;
	top:75%;
	color:#DC0000;
	text-align:center;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	overflow: hidden;
}

.skills{
	position:relative;
	border:solid white 2px;
	border-radius:5px;
	margin:10px;
	padding:10px;
	padding-bottom:90px;
	overflow: hidden;
}

.skills:hover
{
        box-shadow:
                1px 1px #220606,
                2px 2px #220606,
                3px 3px #220606;
        -webkit-transform: translateX(-3px);
		transform: translateX(-3px);
		transition:0.5s;
}

.skills:after{
	content: "";
    background: #F85C5C;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

	.skills:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.game-box-skills .skill-1 {
	background-image:url('../images/ninja_punch.jpg');
	background-repeat: no-repeat;
	float:left;
}

.game-box-skills .skill-2 {
	background-color:black;
	background-image:url('../images/ninja_shuriken.png');
	background-size: 250px 250px;
	background-repeat: no-repeat;
	float:left;
}

.game-box-skills .skill-3 {
	background-color:black;
	background-image:url('../images/Rasenshuriken.jpg');
	background-size: 250px 250px;
	background-repeat: no-repeat;
	float:left;
}


.game-box-boss{
	position:absolute;
	height:160px;
	width:200px;
	left:80%;
	top:45%;
	background-color:black;
	text-align:center;
	border:solid white 2px;
	border-radius:5px;
	margin:10px;
	padding:10px;
	background-image: url('../images/kyubi.png');
	background-size: 200px 250px;
	background-repeat: no-repeat;
}

.game-box-end{
	position:absolute;
	width:500px;
	height:300px;
	left:35%;
	background-color:rgba(0,0,0,0.75);
	text-align:center;
	border:solid white 2px;
	border-radius:5px;
	margin:10px;
	padding:10px;
	/* background-image: url('../images/LevelArt.jpg');
	background-size: 150px 250px;
	background-repeat: no-repeat; */
	overflow: hidden;
	z-index:10;
}

.game-box-end ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

.game-box-end ul li a:hover
{
color: #fff;
background-color: #369;
}

.inGameMessage{
	position:absolute;
	width:200px;
	height:50px;
	left:45%;
	top:40%;
	background-color:rgba(0,0,0,0.75);
	text-align:center;
	border:solid white 2px;
	border-radius:5px;
	margin:10px;
	padding:10px;
	overflow: hidden;
	z-index:10;
}


